hr { margin: 10px 0}
.panel-heading h1,.panel-heading h2,.panel-heading h3 { margin: 0}
.issues { list-style: none; padding:0}
.issues h3 {margin-top: 0; padding-top: 5px}
.number-box { text-align: center; padding: 0 5px}
.number { font-size: 2em;}
.profile-small { width: 18px}
.content {margin: 20px 0}
