<%inherit file="/layout.html"/>
<%block name="head">
<script type="text/javascript">
$(function() {
	CKEDITOR.replace( 'issue_content', {} )
})
</script>
</%block>
<h1 class="title">이슈 수정하기</h1>
<%namespace name="forms" file="/common/bootstrap_form.html" inheritable="True"/>
<form class="form" action="${url('issues.update', issue.id)}" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}" />
    % for field in form.hidden_fields():
        ${forms.hidden_field(field)}
    % endfor
    % for field in form.visible_fields():
        ${forms.form_group(field)}
    % endfor
    <input type="submit" value="저장" class="btn btn-success">
</form>


